.idea-tree-node {
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 200px;
   height: 70px;
   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.idea-tree-node-title {
   font-family: "Platypi", serif;
   font-size: 14px;
   color: #333;
}

.idea-tree-node-desc {
   font-family: "Cabin", sans-serif;
   font-size: 10px;
   color: #666;
   line-height: 1.2;
}

.idea-tree-node.unlocked {
   border-color: #047e00;
}

.idea-tree-node.unlockable:hover {
   border-color: #047e00;
}

.idea-tree-node.unlockable,
.idea-tree-node.unlockable * {
   cursor: pointer;
}

.idea-tree-node.unlocked .idea-tree-node-title,
.idea-tree-node.unlocked .idea-tree-node-desc {
   color: #047e00;
}

.idea-tree-node-handle {
   background: #999;
}

.react-flow {
   --xy-controls-button-background-color-default: silver;
   --xy-controls-button-background-color-hover: silver;
}
