#chat-panel .chat-bar {
   width: 300px;
   height: 30px;
   position: absolute;
   bottom: 30px;
   left: 30px;
   display: flex;
   align-items: center;
   padding: 0 10px;
}
#chat-panel .chat-content {
   width: 300px;
   height: 50vh;
   position: absolute;
   bottom: 30px;
   display: flex;
   flex-direction: column;
   left: 0px;
}

#chat-panel .chat-content .window-content {
   overflow: auto;
}

#chat-panel .chat-message {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
