#chat-panel {
   height: 3rem;
   position: absolute;
   bottom: 1rem;
   left: calc(1rem + env(safe-area-inset-left, 0));
   display: flex;
   align-items: center;
}

#chat-panel .chat-content,
#chat-panel .stat-content {
   width: 35rem;
   height: 60vh;
   position: absolute;
   bottom: 3rem;
   display: flex;
   flex-direction: column;
   left: 0;
}

#chat-panel .stat-content {
   width: 40rem;
}

#chat-panel .chat-content .window-content {
   overflow: auto;
   padding: 0;
}

#chat-panel .chat-message {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   flex: 1;
   width: 32rem;
   padding: 0 5px 0 0;
}

#chat-panel .chat-message-item {
   padding: 6px 8px;
}

#chat-panel .chat-message-item .show-trade {
   font-size: 15px;
   margin-right: 2px;
   cursor: pointer;
   content-visibility: hidden;
}

#chat-panel .chat-message-item:hover .show-trade {
   content-visibility: visible;
}

#chat-panel .chat-message-content {
   user-select: text;
   user-select: contain;
   cursor: text;
   overflow-wrap: break-word;
}

#chat-panel .chat-message-item .chat-image {
   width: 100%;
   max-height: 200px;
   object-fit: cover;
   display: block;
   margin: 5px 0;
   border-radius: 5px;
}

#chat-panel .chat-message-item.is-even {
   background: #efefef;
}

#chat-panel .chat-message-item.mentions-me {
   background: #ffc;
   font-weight: bold;
}

#chat-panel .language-switch {
   background: #00289e;
   color: #fff;
   height: 19px;
   width: 19px;
   line-height: 19px;
   text-align: center;
   margin: 0 2px 0 0;
}

#chat-panel .chat-channel {
   background: #999;
   color: #fff;
   text-transform: uppercase;
   padding: 0 2px;
   margin: 0 0 0 2px;
   border-radius: 2px;
}

#chat-panel input.is-chat-command {
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   color: #fff;
   background: #333;
}
