.building-list {
   overflow: hidden;
}

.building-grid-view {
   min-height: 0;
   padding: 0.5rem;
}

.building-grid-list {
   display: flex;
   flex-wrap: wrap;
}

.building-grid-item-wrap {
   width: 25%;
   box-sizing: border-box;
}

#game-ui .building-grid-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   border-radius: 0.5rem;
   cursor: pointer;
   * {
      cursor: pointer;
   }
}

.building-grid-item:hover {
   background-color: #efefef;
}
