@font-face {
   font-family: "UniVGA16";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/UniVGA16.woff2) format("woff2");
}

.loading-page,
.error-page {
   font-family: "UniVGA16", monospace;
   font-size: 3rem;
   background: #000;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   color: #808080;
   padding: 25px;
   z-index: 100;
}

.energy-star {
   max-width: 26rem;
   width: 26vw;
   position: fixed;
   top: 2vw;
   right: 2vw;
}

.error-page {
   background: #0608a8;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 10%;
}

.error-page .title {
   color: #0608a8;
   background: #aaaaaa;
   padding: 0 20px;
   margin: 0 0 20px 0;
   display: block;
}

.loading-page>.row {
   width: 60vw;
}

.loading-page .report-issue {
   position: absolute;
   bottom: 25px;
   left: 25px;
}

.loading-page .highlight {
   color: #fff;
}