@import "xp.css/dist/98.css";
@import "Modern.css";
@import "UIExtension.css";
@import "ChatPanel.css";
@import "ResourcePanel.css";

:root {
   --game-ui-width: 45rem;
   --base-font-size: 62.5%;
   --font-variant-numeric: tabular-nums;
}

html {
   font-size: var(--base-font-size);
   font-variant-numeric: var(--font-variant-numeric);
}

body.old-fashioned-cursor,
body.old-fashioned-cursor * {
   cursor: url("../images/w98normal.png"), default;
}

body.old-fashioned-cursor .text-link,
body.old-fashioned-cursor .text-link *,
body.old-fashioned-cursor .pointer,
body.old-fashioned-cursor .pointer * {
   cursor: url("../images/w98hand.png"), pointer;
}

body.big-old-fashioned-cursor,
body.big-old-fashioned-cursor * {
   cursor: url("../images/w98big.png"), default;
}

body.big-old-fashioned-cursor .text-link,
body.big-old-fashioned-cursor .text-link *,
body.big-old-fashioned-cursor .pointer,
body.big-old-fashioned-cursor .pointer * {
   cursor: url("../images/w98handbig.png"), pointer;
}

body {
   cursor: default;
   user-select: none;
   -webkit-user-select: none;
   overflow: hidden;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-color: #000000;
}

* {
   box-sizing: border-box;
}

#game-ui {
   position: absolute;
   width: calc(var(--game-ui-width) - env(safe-area-inset-right, 0));
   right: env(safe-area-inset-right, 0);
   top: 0;
   bottom: 0;
}

#debug-ui .window {
   position: absolute;
   width: 350px;
   left: 10px;
   top: 50px;
}

#debug-ui .window .table-view {
   overflow-x: hidden;
   overflow-y: auto;
   height: 400px;
}

#game-canvas {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: var(--game-ui-width);
}

#game-ui .window {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#game-ui .window .window-body,
#global-modal .window .window-body {
   padding: 8px;
   margin: 0;
   overflow-x: hidden;
   overflow-y: auto;
}

#global-modal.overlay {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
   z-index: 200;
}

#global-modal .window {
   margin: 0 auto;
   width: 350px;
}

#global-toast {
   display: flex;
   align-items: center;
   justify-content: center;
}

#global-toast .toast {
   max-width: 50vw;
   position: absolute;
   top: 5.5rem;
   z-index: 201;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 1rem;
}

#global-toast .toast.command {
   user-select: text;
   user-select: contain;
   cursor: text;
   word-break: break-all;
   white-space: pre-wrap;
   font-family: "Roboto Mono", monospace;
   font-size: 1.3rem;
}

body .tippy-box {
   font-size: 1.1rem;
   font-family: "Pixelated MS Sans Serif", sans-serif;
   -webkit-font-smoothing: none;
}

#top-left-panel {
   position: absolute;
   top: 5.5rem;
   left: calc(1rem + env(safe-area-inset-left, 0));
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

#top-left-panel.is-floating {
   top: 4.5rem;
   left: 0.5rem;
   z-index: 301;
}

@keyframes breathing {
   0% {
      opacity: 0.25;
   }
   50% {
      opacity: 0.75;
   }
   100% {
      opacity: 0.25;
   }
}

.breathing {
   animation: breathing 1s infinite;
}

@keyframes spinning {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.spinning {
   animation: spinning 1s infinite linear;
   transform-origin: center;
}

.todo {
   background-image: url("../images/Notepad.png");
   width: 40px;
   height: 40px;
   padding: 5px 4px 3px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.todo .count {
   position: absolute;
   top: 4px;
   right: 5px;
   display: block;
   background: rgba(255, 255, 255, 0.75);
   font-size: 1.2rem;
   border-radius: 50%;
}
