@import "xp.css/dist/98.css";
@import "Modern.css";
@import "UIExtension.css";
@import "ChatPanel.css";

body {
   cursor: url("../images/w98normal.png"), default;
   user-select: none;
   overflow: hidden;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

#game-ui {
   position: absolute;
   width: 400px;
   right: 0;
   top: 0;
   bottom: 0;
}

#debug-ui .window {
   position: absolute;
   width: 300px;
   left: 10px;
   top: 10px;
}

#debug-ui .window .table-view {
   overflow-x: hidden;
   overflow-y: auto;
   height: 400px;
}

#game-canvas {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 400px;
}

#game-ui .window {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#game-ui .window .window-body {
   padding: 8px;
   margin: 0;
   overflow-x: hidden;
   overflow-y: auto;
}

#global-modal .overlay {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
}

#global-modal .window {
   margin: 0 auto;
   width: 350px;
}

#global-toast {
   display: flex;
   align-items: center;
   justify-content: center;
}

#global-toast .toast {
   position: absolute;
   top: 20px;
}
