#resource-panel .resource-bar {
   height: 3rem;
   position: absolute;
   top: 1rem;
   left: 1rem;
   display: flex;
   align-items: center;
   font-weight: bold;
   color: #333;
}

#resource-panel .resource-bar>.row {
   margin: 0 10px 0 0;
   text-align: center;
}

#resource-panel .resource-bar .row .m-icon {
   margin: 0 5px;
   font-size: 2rem;
}

#resource-panel .resource-bar .menu-button {
   padding: 0;
   height: 2.6rem;
   width: 2.6rem;
   text-align: center;
}

#resource-panel .resource-bar .menu-button .m-icon {
   line-height: 2.6rem;
   font-size: 2rem;
}

#resource-panel .resource-bar .menu-popover {
   top: 2.6rem;
   font-weight: normal;
}

#resource-panel .resource-bar .menu-popover-item {
   padding: 3px 20px 3px 6px;
   color: #222;
   text-align: left;
}

#resource-panel .resource-bar .menu-popover-item:hover,
#resource-panel .resource-bar .menu-popover-item:hover .text-desc {
   color: #fff;
}